{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
<div class="row text-center">


    <article class="col-12 col-md-6 col-lg-3 position-relative mb-4 rounded-3 border border-warning shadow p-1 text-center mx-auto">
        <img src="{{ asset('uploads/vehicules/' ~ vehicule.images) }}"
             alt="{{ vehicule.nom }}"
             class="rounded-3 w-100">

    </article>
    <div>
    {{ form_start(form, { attr: { class: 'border border-light shadow p-1 w-75 mx-auto' } }) }}
    {{ form_row(form.dateDebut,{ attr: { class: 'form-control' } }) }}
    {{ form_row(form.dateFin,{ attr: { class: 'form-control' } }) }}
    {{ form_row(form.total,{ attr: { class: 'form-control' } }) }}
        {% for adresse in adresses %}
        {% if adresse is not empty %}
            {{ adresse.adressNumber }} {{ adresse.street }}, {{ adresse.postal }} {{ adresse.city }}
        {% else %}
        <a href="{{ path('app_adresse_new') }}">Ajouter une nouvelle adresse</a>
        {% endif %}
        {% endfor %}
    {{ form_row(form.button,{ attr: { class: 'btn btn-warning text-black mt-2' } }) }}


    {{ form_end(form) }}

    </div>
</div>


{% endblock %}
